.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Link-active-style {
  color:green; 
  /* remove the underline */
  text-decoration: none;
}

.ul-style {
  display: flex;
  flex-direction: row;
}

.li-style {
  width: 200px;
  /* remove dot */
  list-style-type: none; 
  border: 1px solid gray;
  padding: 5px;
}

.button {
  width: 100px;
  padding: 5px;
}