<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@next"></script>  
    <style>
      body {
        background: #eee;
        max-width: 960px;
        margin: 20px auto;
      }
      p, h3, ul {
        margin: 0;
        padding: 0;
      }
      li {
        list-style-type: none;
        background: #fff;
        margin: 20px auto;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      li.fav {
        background: #ff9ed2;
        color: white
      }
    </style>
  </head>
  <body>
    <h1>Hello, Vue :)</h1>

    <div id="app">
      <a :href="url">URL</a>

      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
          </li>
        </ul>
      </div>

      <h2>This is coins</h2>
      <ul>
        <li v-for="coin in coins" v-bind:class="{ fav: coin.isFav }">
          <h3>{{coin.symbol}}</h3>
          <img :src="coin.img" :alt="coin.symbol">
        </li>
      </ul>


    </div>
    
    <script src="app.js"></script>
  </body>
</html>